com.minosiants.eclipse.maven/resources/classpath.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="classpathentry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attributes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="path" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/tv.quotiny.core"/>
						<xs:enumeration value="/tv.quotiny.facebook"/>
						<xs:enumeration value="/tv.quotiny.rest.api"/>
						<xs:enumeration value="/tv.quotiny.twitter"/>
						<xs:enumeration value="/tv.quotiny.vimeo"/>
						<xs:enumeration value="/tv.quotiny.web.common"/>
						<xs:enumeration value="/tv.quotiny.youtube"/>
						<xs:enumeration value="org.eclipse.jdt.launching.JRE_CONTAINER"/>
						<xs:enumeration value="org.eclipse.jst.j2ee.internal.module.container"/>
						<xs:enumeration value="org.eclipse.jst.j2ee.internal.web.container"/>
						<xs:enumeration value="org.eclipse.m2e.MAVEN2_CLASSPATH_CONTAINER"/>
						<xs:enumeration value="org.scala-ide.sdt.launching.SCALA_CONTAINER"/>
						<xs:enumeration value="src/main/resources"/>
						<xs:enumeration value="src/main/scala"/>
						<xs:enumeration value="src/test/scala"/>
						<xs:enumeration value="target/classes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="output">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="target/classes"/>
						<xs:enumeration value="target/test-classes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="kind" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="con"/>
						<xs:enumeration value="output"/>
						<xs:enumeration value="src"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="excluding">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="**"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="combineaccessrules" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classpath">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classpathentry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/WEB-INF/lib"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="org.eclipse.jst.component.dependency"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
